<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Usu치rios</title>
  <link rel="stylesheet" href="/css/lista.css">
</head>
<body>
  <nav class="navbar">
    <a href="/criar-usuario">Criar Usu치rio</a>
    <a href="/Lista-de-usuarios">Lista de Usu치rios</a>
  </nav> 

  <h1>Lista de usu치rios</h1>

  <div id="usuarios-lista">
    <% users.forEach(user => { %>
      <div class="usuario">
        <img src="<%= user.avatarUrl || 'https://www.gravatar.com/avatar/?d=mp' %>" alt="Avatar de <%= user.name %>" class="avatar">
        <p class="nome"><strong>Nome:</strong> <%= user.name %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        <button onclick="deletarUsuario('<%= user.id %>')">Deletar</button>
        <button onclick="editarUsuario('<%= user.id %>')">Atualizar nome</button>
        <button onclick="alterarSenha('<%= user.id %>')">Alterar senha</button>
      </div>
    <% }) %>
  </div>

  <script>
    async function deletarUsuario(id) {
      const resposta = await fetch(`/users/${id}`, {
        method: 'DELETE'
      });
      if (resposta.status === 204) {
        location.reload();
      } 
    }

    function editarUsuario(id) {
      window.location.href = `/editar-nome/${id}`;
    }

    function alterarSenha(id) {
      window.location.href = `/editar-senha/${id}`;
    }
  </script>

</body>
</html>
